LaPerLa.Web/Service References/LaPerLaService/LaPerLaService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://121.40.95.150:7878/LaPerLaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" />
  <xs:complexType name="ArrayOflong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflong" nillable="true" type="tns:ArrayOflong" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfKeyValueOflongArrayOfRuleG6mArm_Pety7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfKeyValueOflongArrayOfRuleG6mArm_Pety7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfRuleG6mArm_Pe" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfKeyValueOflongArrayOfRuleG6mArm_Pety7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfKeyValueOflongArrayOfRuleG6mArm_Pety7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfRuleG6mArm_Pe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfRuleG6mArm_Pe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" name="Value" nillable="true" type="q1:ArrayOfRule" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfRuleG6mArm_Pe" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfRuleG6mArm_Pe" />
  <xs:complexType name="ArrayOfKeyValueOflongShopSaleG6mArm_Pe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongShopSaleG6mArm_Pe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" name="Value" nillable="true" type="q2:ShopSale" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongShopSaleG6mArm_Pe" nillable="true" type="tns:ArrayOfKeyValueOflongShopSaleG6mArm_Pe" />
  <xs:complexType name="ArrayOfKeyValueOflongArrayOfShopSaleG6mArm_Pe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongArrayOfShopSaleG6mArm_Pe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LaPerLa.BusinessModel" name="Value" nillable="true" type="q3:ArrayOfShopSale" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongArrayOfShopSaleG6mArm_Pe" nillable="true" type="tns:ArrayOfKeyValueOflongArrayOfShopSaleG6mArm_Pe" />
</xs:schema>